html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
.container {
  width: 1110px;
  margin: 0 auto;
}

.logo {
  float: left;
  margin: 36px auto 24px;
}
.logo-link {
  font-family: roboto, sans-serif;
  font-size: 30px;
  line-height: 32px;
  font-weight: 400;
  text-decoration: none;
  color: #555252;
  text-transform: uppercase;
  vertical-align: middle;
}
.logo::first-letter {
  font-weight: 900;
  color: #1abc9c;
}
.navigation-list {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 42px;
}
.navigation-list-item-link {
  text-decoration: none;
  color: #000000;
}
.navigation-list-item {
  float: left;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.navigation-list-item:not(:last-child) {
  margin-right: 32px;
}
.navigation-list-item-link:hover,
.navigation-list-item-link:focus {
  color: #1abc9c;
  cursor: pointer;
}

.slider {
  position: relative;
  height: 600px;
}
.slider-image {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.slider-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 2, 0.52);
  position: absolute;
  left: 0;
  top: 0;
}
.slider-controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider-button:hover,
.slider-button:focus {
  background: rgba(78, 198, 171, 0.65);
  cursor: pointer;
}
.slider-button {
  height: 104px;
  width: 104px;
  background-position: center;
  border: none;
  background: transparent;
}

.slider-control-prev {
  float: left;
}
.slider-control-next {
  float: right;
}
.slider-button::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
}
.slider-control-prev::before {
  background-image: url(../img/icon/angle-left.svg);
}
.slider-control-next:before {
  background-image: url(../img/icon/angle-right.svg);
}
.slider-content {
  position: absolute;
  left: 184px;
  top: -22%;
}
.slider-text-style {
  font-family: Roboto, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
}
.slider-title {
  font-size: 60px;
  line-height: 82px;
  font-weight: 900;
  margin-bottom: 22px;
}
.slider-text {
  font-size: 20px;
  line-height: 24px;
}
.slider:hover .slider-title-decoration {
  color: #ff7200;
  cursor: pointer;
}

.gallery {
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  background-color: #e9f0fd;
  font-weight: 900;
}
.gallery-title {
  margin: 0;
  font-size: 48px;
  color: #515151;
  text-align: center;
  padding-top: 94px;
}
.gallery-title::after {
  content: "";
  display: block;
  height: 7px;
  width: 164px;
  background-color: #1abc9c;
  margin: 18px auto 82px;
}
.gallery-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 98px;
}
.gallery-list-item {
  float: left;
  position: relative;
}
.gallery-list-item-link {
  text-decoration: none;
  color: #ffffff;
}
.gallery-list-item:not(:last-child) {
  margin-right: 30px;
}
.gallery-list-item:hover .gallery-list-item-figcaption,
.gallery-list-item:focus .gallery-list-item-figcaption {
  background-color: #1abc9c;
  cursor: pointer;
}
.gallery-list-item-figcaption {
  background-color: #323232;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}

.gallery-list-item-product-name {
  margin: 0;
  float: left;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  width: 201px;
}

.gallery-list-item-product-price {
  float: right;
  width: 54px;
  padding-bottom: 4px;
  padding-top: 4px;
  text-align: center;
}
.gallery-list-item-product-price {
  background-color: rgba(255, 255, 255, 0.44);
}

.overlay {
  position: absolute;
  height: 282px;
  width: 255px;
  background-color: rgba(0, 0, 0, 0.55);
  border: 10px solid rgba(255, 255, 255, 0.55);
  background-clip: padding-box;
  opacity: 0;
}
.overlay:hover {
  opacity: 1;
  cursor: pointer;
}
.overlay-button-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 166px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.overlay-button-list-item {
  float: left;
}
.overlay-button {
  border: 1px solid #ffffff;
  background: transparent;
  width: 50px;
  height: 50px;
  align-items: center;
  margin-bottom: 7px;
}
.icon-heart {
  background: url(../img/icon/heart.svg) no-repeat center;
  margin-right: 8px;
}
.icon-shuffle {
  background: url(../img/icon/shuffle.svg) no-repeat center;
  margin-right: 8px;
}
.icon-clock {
  background: url(../img/icon/clock.svg) no-repeat center;
}

.big-overlay-button {
  background: url(../img/icon/cart.svg) no-repeat left;
  border: 1px solid #ffffff;
  background-color: #323232;
  color: #ffffff;
  width: 166px;
  height: 50px;
  text-transform: uppercase;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.28px;
  padding-left: 30px;
}
.overlay-button:hover,
.overlay-button:focus,
.big-overlay-button:hover,
.big-overlay-button:focus {
  background-color: #1abc9c;
  cursor: pointer;
}

.footer {
  background-color: #323232;
}
.footer-text {
  margin: 0 auto;
  text-align: center;
  padding-top: 36px;
  padding-bottom: 32px;
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}
.izumrud {
  color: #46bfa9;
  text-decoration: none;
}
